---
import Layout from "../layouts/Layout.astro";

const pageTitle = "Home Page";
---

<Layout title={pageTitle}>
  <h1>Hi, I'm Paweł Gałkowski, and this is my blog</h1>

  <p>This is the home page. There is nothing on it now.</p>
</Layout>
