<div class="px-6 bg-slate-800 py-4">
  <div class="container flex content-center gap-5 mx-auto">
    <div class="row columns-3">
      <div>
        <a
          href="/"
          class="text-orange-400 hover:text-orange-600 font-semibold transition"
          >Home</a
        >
      </div>
      <div>
        <a
          href="/blog/"
          class="text-orange-400 hover:text-orange-600 font-semibold transition"
          >Blog</a
        >
      </div>
    </div>
  </div>
</div>
